
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Magasin d'Électronique</title>
  <!-- Liens CDN de Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    /* Ajoutez du style personnalisé ici si nécessaire */
    body {
      padding-top: 56px; /* pour compenser la hauteur de la barre de navigation fixée en haut */
    }
  </style>
</head>
<body>

<div class="container mt-5">
  <div class="jumbotron text-center">
    <h1 class="display-4">Bienvenue dans notre Magasin d'Électronique</h1>
    <p class="lead">Découvrez la dernière technologie et les gadgets électroniques les plus innovants.</p>
    <hr class="my-4">
    <p>Explorez notre large gamme de produits et trouvez les solutions technologiques parfaites pour vous.</p>
    <a class="btn btn-primary btn-lg" routerLink="/produit" role="button">Voir les produits</a>
  </div>
</div>


</body>
</html>
